<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myConto">
    <input type="text" ng-model="name" ng-change="jsonps()">
    <!--<ul>-->
        <!--<li ng-repeat="x in s ">-->
            <!--<span ng-bind="x"></span>-->
        <!--</li>-->
    <!--</ul>-->
</div>
</body>
<script>
    var app = angular.module("myApp",[]);
    app.controller("myConto", function ($scope,$http) {
        $scope.name = "LL";
        $scope.jsonps = function(){
            console.log($scope.name);
            $http.jsonp("http://localhost:8088/jsonp?wd="+$scope.name+"&cb=JSON_CALLBACK").success(function (res) {
                console.log(res);
            });
//            $http.jsonp("https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd="+$scope.name+"&cb=JSON_CALLBACK").success(function (res) {
//                console.log(res);
//                $scope.s = res.s;
//            });
        }
    })
</script>
</html>
