<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <title>Title</title>
    <style>
        .active{
            width: 100px;
            height: 100px;
            background-color: red;
        }
        .inactive{
            width: 200px;
            height: 200px;
            background-color: gray;
        }
        .active3{
            width: 300px;
            height: 300px;
            background-color: gold;
        }
    </style>

</head>
<body ng-app >
    <!--<div ng-init="isActive=true">-->
        <!--<button ng-click="isActive=!isActive">change</button>-->

        <!--<div class="{true:'active',false:'inactive'}[isActive]">-->

        <!--</div>-->
    <!--</div>-->
    <div ng-init="isActive=a">
        <input type="text" ng-model="isActive">
        <div ng-class="{a:'active',b:'inactive',c:'active3'}[isActive]"></div>
    </div>


</body>
</html>